# **4 Python Static**
파이썬을 활용한 금융분석

<br>
### **review Python Data & Datum**
Python 기본문법 - 기본문법 등을 아래의 3가지 서랍속에 체계적 정리하기 
1. Datum &nbsp;&nbsp; : &nbsp;&nbsp; 숫자, &nbsp;"문자" 
1. Data &nbsp;&nbsp; : &nbsp; [list], &nbsp; {dict}, &nbsp; (tuple,)
1. Function : indent, 모듈, 클래스, 함수, 메소드(추가 입력값 필요, 추가 입력값 불필요)
1. []의 함수적 활용 
    1. 색인기능 [index], [:slicing])
    1. 함수를 활용하여 데이터 생성 &nbsp; [ &nbsp; datum &nbsp;&nbsp; 1) for : 반복, 2) if :판단, 3) enumerate() :순번 integer 출력 ]
1. {}의 함수적 활용 
    1. 함수를 활용하여 데이터 생성 &nbsp; { &nbsp; key &nbsp; : &nbsp; value &nbsp;&nbsp; 1) for : 반복, 2) if :판단, 3) enumerate() :순번 integer 출력}
1. 연결기호 : ', ", '=',  [], {}, () (개별적 쓰임새와 숨은 의미들이 정해져 있다)

### **review Series**
1. pd.Series( [ data ] , index = [ index ])
1. series 사칙연산
1. series [ Boolean 판단문 ]
1. series.index = [ list ]
1. series.isnull()
1. series.drop()

### **review DataFrame**
1. pd.DataFrame( { columns :  [ data ] , columns :  [ data ] } )
1. df.column이름
1. df.rename( columns = { 기존 column , 새로운 column } )
1. df.insert( 컬럼순서,  컬럼명 ,  data )
1. df [ index Slicing ]
1. df.iloc[ index slicing,  column slicing ]
1. df.reset_index()        :  index  -> column
1. df.set_index( '컬럼명' ) :  column -> index
1. df.sort_index()
1. df.sort_value()
1. df[ boolean 함수 ]
1. df[ boolean 함수 ].column이름
1. axis = 0 : index | axis = 1 : column
1. df.drop( 'index이름'  , axis = 0 )
1. df.drop( 'column이름' ,  axis = 1 )
1. df.index.tolist()
1. df.column.tolist()

<br>
## **1 기술통계 계산과 요약**
기본적인 수학/ 통계 메소드(함수)
1. .count()
1. .describe()
1. .min()     .max()
1. .idxmin()  .idxmax()
1. .quantile()   
1. .sum()
1. .mean()    .median()
1. .var() 분산 .std() 정규분산
1. .cumsum()  .cumprod()  누적 합    누적 곱
1. .cummin()  .cummax()   누적최소값, 누적최대값

<br>
### **01 기술통계**
엑셀의 함수를 더 쉽고, 빠르게 적용 가능하다

In [1]:
# 개별 컬럼의 합을 계산한 결과를 출력
# default :  axis = 0 , skipna = False 
# na값을 포함/ 제외하고 계산할 여부를 확인

In [2]:
# .sum(axis=1)

In [3]:
# .mean( axis=0 , skipna = False )

In [4]:
# .count()

In [5]:
# .cumsum() : column 별 누적 합

In [6]:
# .cumprod() : column 별 누적 곱

In [7]:
# .describe()

In [8]:
# .pct_change() # 퍼센트 변화율

In [9]:
%matplotlib inline

<br>
<br>
## **2 결측치(np.Nan) 제어하기**
<br>
### **01 결측치(np.Nan) 찾기**
전체의 표로 연산을 하려면, Table 데이터가 깨끗해야 한다
1.  sum(), cumsum() methods 계산 시 : NaN은 '0'으로 처리
1. mean(), std() 연산 시 : NaN은 분석 대상(population)에서 제외
1. DataFrame 칼럼 간 연산 시 : NaN이 하나라도 있으면 NaN 반환

출처: http://rfriend.tistory.com/261?category=675917 [R, Python 분석과 프로그래밍 (by R Friend)]

In [10]:
# 결측값을 제외한 데이터를 출력

In [11]:
# 결측치 데이터 위치 찾기

<br>
### **02 결측치(np.Nan) 채우기**
전체의 표로 연산을 하려면, Table 데이터가 깨끗해야 한다

In [12]:
# .fillna(0)

In [13]:
# .fillna(method='ffill',  limit=2)  
# fill gaps forward  앞방향 데이터로 채우기
# limit=2 : 앞에서 끌어오는 데이터의 갯수를 제한하기

In [14]:
# .fillna(method='bfill')
# fill gaps backword  뒷방향 데이터로 채우기

In [15]:
# .fillna(DataFrame.mean())
# 평균 값으로 채우기

In [16]:
# .fillna(DataFrame.mean()['필드이름'])

<br>
### **03 결측치(np.Nan) 보간법으로 대체하기**
단일값이 아닌 규칙에 근거한 결측치 대체
1. Series.interpolate()
1. Series.interpolate(method='time')
1. Series.interpolate(method='values')
1. Series.interpolate(method='values', limit=1) 
1. Series.interpolate(method='values', limit=1, limit_direction='backward') # 'forward','backward','both'

In [17]:
# .interpolate(method='time')
# 시계열 날짜 index를 기준으로 결측값 보간

In [18]:
# .interpolate(method='values')
# value값에 비례하여 선형으로 보간한다

In [19]:
# .interpolate(method='values', limit=1)
# 보간의 갯수 제한

In [20]:
# .interpolate(method='values', limit=1, limit_direction='backward') 
# 보간의 갯수 와 방향을 제한
# 'forward','backward','both'

<br><br>
## **3. Time Series**
시계열 데이터 처리하기

<br>
### **01 DateTimeSeries**
시간 데이터 관리하기

In [21]:
from time import time
time()   
# sec 단위로 출력 : float

1525239816.1915355

In [22]:
# 일반적 Coding 에서의 용도
# Cell 내부 연산하는데 걸린시간 확인하기

<br>
### **02 Date & Time**
날짜와 시간관리

In [23]:
# Date and time
from datetime import datetime
dt = datetime.now()
dt

datetime.datetime(2018, 5, 2, 14, 43, 36, 385072)

In [24]:
# 메소드 객체를 통해서 일부 데이터 출력
# 날짜 정보의 필요한 부분만 출력가능
print('year'     , dt.year, 
      '\nmonth'  , dt.month, 
      '\nday'    , dt.day, 
      '\nhour'   , dt.hour, 
      '\nminute' , dt.minute, 
      '\nsecond' , dt.second, 
      dt.microsecond)

year 2018
month 5
day 2
hour 14
minute 43
second 36 385072

<br>
### **03 Time stamp  & Date**
날짜와 시간관리 데이터 상호교환

In [25]:
# time stamp 시초값 추출
datetime.fromtimestamp(0)

datetime.datetime(1970, 1, 1, 9, 0)

In [26]:
# time() 결과를 Datetime 형식으로 변환

In [27]:
# 임의의 기간을 datetime 포맷으로 변환하기
date = datetime(2017, 10, 21, 16, 29, 0)

In [28]:
# .strftime('%Y/%m/%d %H:%M:%S')
# datetime 출력포맷 임의로 변경하기

In [29]:
# .strftime('%Y/%m/%d')
# datetime 출력포맷 임의로 변경하기

In [30]:
# .strftime('%Y-%m-%d')
# datetime 출력포맷 임의로 변경하기

<br>
### **04 Datetime in Pandas** 
**Series.resample()** freq 옵션 [code](https://datascienceschool.net/view-notebook/8959673a97214e8fafdb159f254185e9/)
1. **B :** 주말이 아닌 평일
1. **W :** 주(일요일)
1. **W-MON :** 주(월요일)
1. **M :** 각 달(month)의 마지막 날
1. **MS :** 각 달의 첫날
1. **BM :** 주말이 아닌 평일 중에서 각 달의 마지막 날
1. **BMS :** 주말이 아닌 평일 중에서 각 달의 첫날
1. **WOM-2THU :** 각 달의 두번째 목요일
1. **Q-JAN :** 각 분기의 첫달의 마지막 날
1. **Q-DEC :** 각 분기의 마지막 달의 마지막 날

<br>
#### **1) pandas.date_range()**
규칙적인 일별데이터가 필요할 떄

In [31]:
# pd.date_range()

In [32]:
#  periods=30

In [33]:
# end = '2017-07-01', periods = 30

In [34]:
# freq='B' : 영업일 (주말은 제외)

In [35]:
# freq='BM' : 월 영업 마감일

In [36]:
# pd.date_range('2017/8/8 09:09:09')
# periods = 5
# 시간정보를 포함해서 일자를 나열

In [37]:
# normalize = True
# 시간정보를 '자정'으로 '정규화'가 필요할 떄

In [38]:
# freq='4h'
# 시간정보를 '시간'간격으로 필요할 떄

In [39]:
# freq='1h30min'
# 시간정보를 '시간 분'간격으로 필요할 떄

<br>
#### **2) Datetime 데이터 포맷의 변환**
사용자에게 유용한 형태로 변환하기
1. .strftime()
1. .isocalendar()

In [40]:
# 결과로 출력할 포맷을 변경

In [41]:
# .isocalendar() : Iso Calendar 값을 게산후 출력

<br><br>
## **4  Pandas Pivot Table** 
대용량 데이터 Pivot Table 생성하기

http://pbpython.com/pandas-pivot-table-explained.html

<img src="http://pbpython.com/images/pivot-table-datasheet.png" align='left' width='500'>

In [42]:
# pandas.read_excel()
# Excel 데이터 불러오기

In [43]:
# .astype("category")
# 'Status' 컬럼의 데이터를 'category' 타입으로 변환
# 'category' 타입의 우선순위를 임의로 정의한다
# .cat.set_categories([ ],inplace=True)

In [44]:
# pandas.pivot_table(df, index = ["Name"])
# Pivot Table을 생성한다
# 다층 인덱스를 갖는 Pivot Table

In [45]:
# index = 
# index 순서를 바꾸면, 공통된 그룹끼리 자동으로 묶는다

In [46]:
# values = 
# (Default) value에서 정의한 "Price"는 mean() 평균값을 출력한다

In [47]:
# aggfunc =
# value에서 정의한 "Price"의 갯수와, 평균, np.sum 를 출력

In [48]:
# columns =
# 컬럼에 제품을 열거하여, 제품별 Pivot Table을 확인한다
# columns = 는 옵션으로 생각하고, 컬럼의 기본설정은 value= 로 정의를 한다

In [49]:
# fill_value = 0

In [50]:
# margins = True 
# 컬럼의 합계 row를 추가한다